@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


* {
    margin: 0;
    margin: 5px;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
}

.form {
    padding: 10px 20px;
}


.input-group span {
	bottom: 12px;
	font-size: 12px;
	color: red;
}
#submit-error{
	color: red;
	font-size: 12px;
	
}

.input-group span i{
	color: seagreen;
	font-size: 20px;
	
}

